* {
    font-family: 'Oswald', sans-serif;
    line-height: 1.618em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bgred{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(126,3,3,1) 94%);
}



header, section{
    margin: 1em 0;
    padding: 3em;
    min-height: 20em;
}

section > p{
margin: 1em 0;
}

section ul{
    padding-left: 1.5em;
}

header, footer, #aboutsection, #spartanprojects, #contact{
    margin: 0 auto;
    max-width: 960px;
}

header{
 
    background: url(../images/spartan-helmet.png) no-repeat;
    
    margin-top: 2em;
    height: 505px;
}

header, #spartanprojects, footer{
   
    color: #fff;
}

header h1{
    font-size: 3em;
}

header h2{
    font-size: 1.5em;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(126,3,3,1) 94%);
}

.navalign{
    margin: 0 auto;
    max-width: 960px;
    display:flex;
    flex-flow:row;
    justify-content: end;
}

nav a{
    padding: .5em 1em;
    color: rgb(192, 189, 189);
    text-decoration: none;
    text-transform: uppercase;
}

nav a::first-letter{
    font-size: 1.5em;
    text-decoration: underline;
    text-decoration-thickness: .1em;
}


nav a:hover{
    color: rgb(255, 255, 255);

}


#aboutsection, #contact, #projects article{
    color:#290b08;
}


#projects{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

#projects article{
    background: #fff;
    border-radius: .5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    margin: 1em auto;
    width:32%;

}

@media all and (max-width: 760px) {

    #projects article{
        background: #fff;
        border-radius: .5em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
        margin: 1em auto;
        width: 100%;
    }

}

footer{
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}