* {
    font-family: 'Oswald', sans-serif;
    line-height: 1.618em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bgred{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(126,3,3,1) 94%);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, -1px 9px 27px -9px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, -1px 9px 27px -9px rgba(0,0,0,0);
}

header, section{
    margin: 1em 0;
    padding: 3em;
    min-height: 20em;
}

section > p{
margin: 1em 0;
}

section ul{
    padding-left: 1.5em;
}

header, footer, #aboutsection, #spartanprojects, #contact{
    margin: 0 auto;
    max-width: 960px;
}

header{
 
    background: url(../images/spartan-helmet.png) no-repeat;
    background-position: bottom 1em left;
    height: 560px;

}

header, #spartanprojects, footer{
   
    color: #fff;
}

header h1{
    font-size: 5em;
    display:flex;
    justify-content: end;
    padding-top: 1em;
    text-shadow: -1px -1px 3px rgba(5, 5, 5, 0.9), 1px 1px 3px rgba(5, 5, 5, 0.9);
}

header h2{
    font-size: 1.5em;
    display:flex;
    justify-content: end;
    padding-right: .9em;
    text-shadow: -1px -1px 3px rgba(5, 5, 5, 0.9), 1px 1px 3px rgba(5, 5, 5, 0.9);
}

@media all and (max-width: 760px) {

    header h1{
        padding-top: .5em;
    }
}


nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(126,3,3,1) 94%);
}

.navalign{
    margin: 0 auto;
    max-width: 960px;
    display:flex;
    flex-flow:row;
    justify-content: end;
}

nav a{
    padding: .5em 1em;
    color: rgb(192, 189, 189);
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: -1px -1px 3px rgba(5, 5, 5, 0.9), 1px 1px 3px rgba(5, 5, 5, 0.9);
}

nav a::first-letter{
    font-size: 1.5em;
    text-decoration: underline;
    text-decoration-thickness: .1em;
}


nav a:hover{
    color: rgb(255, 255, 255);

}


#aboutsection, #contact, #projects article{
    color:#290b08;
}

h2{
    font-size: 3em;
}

#aboutsection{
    margin-top: 7em;
    display: grid;
    grid-template-areas:
    'img img about about about about'
    'skills skills skills skills skills skills';
    grid-gap: 3em;
    padding: 10px;
}


#aboutsection img{
    -moz-box-shadow: 0px 6px 5px rgb(121, 118, 118);
    -webkit-box-shadow: 0px 6px 5px rgb(121, 118, 118);
    box-shadow: 0px 6px 5px rgb(121, 118, 118);
    -moz-border-radius:230px;
    -webkit-border-radius:230px;
    border-radius:230px;
}

#aboutsection h2{
    text-align:center;
}

.grid-item-1
{
    grid-area: img;
    align-items: center;
    justify-content: center; 
}

.grid-item-2
{
    grid-area: about;
}

.grid-item-3
{
    grid-area: skills;
}


#projects{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

#projects article{
    background: #fff;
    border-radius: .5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    margin: 1em auto;
    width:32%;

}



@media all and (max-width: 760px) {

    #projects article{
        background: #fff;
        border-radius: .5em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
        margin: 1em auto;
        width: 100%;
    }

}

footer{
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}